<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clipper_library" version="6.2.1" targetFramework="net45" />
  <package id="EquWithDataContract" version="1.0.4" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="Poly2Tri.dll" version="1.0.4" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0-preview2-25405-01" targetFramework="net461" requireReinstallation="true" />
</packages>